html,
body,
#root {
  height: 100%;
  overflow: auto;
  background: #ffc600;
  background: #193549;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h1 {
  position: relative;
}

a,
p,
h1,
h2,
span {
  color: rgba(255, 255, 255, 0.9);
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #355166cc;
  border-radius: 50px;
  border: 1px solid #234e6d;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  border-radius: 50px;
  background-color: #1f466280;
}
